Repository brianespinosa/career: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tsc-files --noEmit, eslint --fix

.lintstagedrc.json:

{
  "*.{css,scss,sass,less}": ["stylelint --fix", "prettier --write"],
  "*.{js,jsx,ts,tsx}": [
    "tsc-files --noEmit",
    "eslint --fix",
    "prettier --write"
  ],
  "*.{md,mdx,html}": ["prettier --write"]
}

feat: add OG images, page titles, site title constant, and ul style reset
  package.json
  src/app/[level]/[encoded]/opengraph-image.tsx
  src/app/[level]/[encoded]/page.tsx
  src/app/global.scss
  src/app/layout.tsx
  src/components/AltChart.tsx
  src/lib/chartGeometry.ts
  src/lib/ogChart.tsx
  src/lib/siteConfig.ts
Due: stylelint --fix, prettier --write, tsc-files --noEmit, eslint --fix

fix: address pr review feedback
  src/CLAUDE.md
  src/app/[level]/CLAUDE.md
  src/app/[level]/[encoded]/opengraph-image.tsx
  src/app/global.scss
  src/components/CareerThemes.tsx
  src/components/OpportunitiesCard.tsx
  src/components/RatingsChart.tsx
  src/lib/animations.ts
  src/lib/chartGeometry.ts
  src/lib/ogChart.tsx
Due: stylelint --fix, prettier --write, tsc-files --noEmit, eslint --fix

chore: update lockfile
  yarn.lock
Due: none

docs: add ADR process to CLAUDE.md and write ADRs 003-006
  CLAUDE.md
  docs/adr/001-visx-alpha-channel.md
  docs/adr/003-path-based-url-state.md
  docs/adr/004-server-safe-chart-geometry.md
  docs/adr/005-radix-ui-themes.md
  docs/adr/006-csv-source-of-truth.md
Due: prettier --write

feat: add favicons and web manifest using Next.js file conventions
  src/app/apple-icon.png
  src/app/favicon.ico
  src/app/icon1.png
  src/app/icon2.png
  src/app/manifest.ts
Due: prettier --write, tsc-files --noEmit, eslint --fix

fix(a11y): add accessible names to icon buttons and select triggers
  src/app/layout.tsx
  src/components/CareerAttribute.tsx
  src/components/CareerSelect.tsx
  src/components/RatingSelect.tsx
  src/components/ResetButton.tsx
Due: prettier --write, tsc-files --noEmit, eslint --fix

feat: code-split RatingsChart and OpportunitiesCard with next/dynamic
  docs/adr/007-dynamic-import-for-client-only-components.md
  src/CLAUDE.md
  src/components/CareerThemes.tsx
  src/components/RatingsChart.tsx
Due: prettier --write, tsc-files --noEmit, eslint --fix

chore: add browserslist targeting modern browsers to reduce polyfills
  package.json
Due: none

chore: sort package.json with better-sort-package-json
  package.json
Due: none

chore: re-sort package.json with sort-package-json
  package.json
Due: none

perf: replace monolithic Radix CSS bundle with targeted per-component imports
  docs/adr/005-radix-ui-themes.md
  docs/adr/008-targeted-radix-css-imports.md
  lefthook.yml
  src/app/global.scss
Due: stylelint --fix, prettier --write

fix: add missing utilities.css to restore Radix responsive prop classes
  src/app/global.scss
Due: stylelint --fix, prettier --write

docs: update ADR-008 with correct import structure and accurate reduction figure
  docs/adr/008-targeted-radix-css-imports.md
Due: prettier --write

refactor: extract PageLayout component and update CareerThemes to use it
  src/components/CareerThemes.tsx
  src/components/PageLayout.tsx
Due: prettier --write, tsc-files --noEmit, eslint --fix

feat: add route-level loading skeletons and LoadingSpinner
  src/app/[level]/[encoded]/loading.tsx
  src/app/[level]/loading.tsx
  src/components/CareerThemesLoading.tsx
  src/components/LoadingSpinner.tsx
Due: prettier --write, tsc-files --noEmit, eslint --fix

feat: replace root redirect with instructions landing page
  src/app/page.tsx
Due: prettier --write, tsc-files --noEmit, eslint --fix

fix: null-safe career param, persistent header controls, smart reset state
  src/components/CareerSelect.tsx
  src/components/HeaderControls.tsx
  src/components/ResetButton.tsx
  src/hooks/useCareerParam.ts
Due: prettier --write, tsc-files --noEmit, eslint --fix

fix: clear ratings via replaceState instead of router.replace
  src/components/ResetButton.tsx
  src/hooks/RatingsProvider.tsx
Due: prettier --write, tsc-files --noEmit, eslint --fix

ci: add Lighthouse CI job to GitHub Actions
  .github/CLAUDE.md
  .github/workflows/ci.yml
  lighthouserc.json
Due: prettier --write

ci: parallelize Lighthouse audits via matrix strategy
  .github/workflows/ci.yml
Due: none

ci: reduce Lighthouse runs per URL to 2
  .github/workflows/ci.yml
Due: none

ci: lower Lighthouse score thresholds to 0.95
  lighthouserc.json
Due: none

ci: unique artifact names per Lighthouse matrix job
  .github/workflows/ci.yml
Due: none

ci: add Lighthouse score summary to each matrix job
  .github/workflows/ci.yml
Due: none

ci: simplify Lighthouse summary to run link, add fail-fast false
  .github/workflows/ci.yml
Due: none

ci: rename Lighthouse matrix artifact names to match route names
  .github/workflows/ci.yml
Due: none

feat: improve Slack unfurling with metadata and OG images
  src/app/[level]/[encoded]/page.tsx
  src/app/[level]/opengraph-image.tsx
  src/app/[level]/page.tsx
  src/app/layout.tsx
  src/app/opengraph-image.tsx
  src/lib/ogChart.tsx
  src/lib/siteConfig.ts
Due: prettier --write, tsc-files --noEmit, eslint --fix

refactor: address PR review feedback
  src/CLAUDE.md
  src/app/[level]/CLAUDE.md
  src/app/[level]/[encoded]/opengraph-image.tsx
  src/app/[level]/[encoded]/page.tsx
  src/app/[level]/opengraph-image.tsx
  src/app/opengraph-image.tsx
  src/lib/ogChart.tsx
  src/lib/siteConfig.ts
Due: prettier --write, tsc-files --noEmit, eslint --fix

chore: move non-destructive permissions to shared settings
  .claude/settings.json
Due: none

feat: add Goal Prompt tab to OpportunitiesCard
  src/CLAUDE.md
  src/components/CareerThemes.tsx
  src/components/OpportunitiesCard.tsx
  src/components/SmartGoalsPrompt.tsx
Due: prettier --write, tsc-files --noEmit, eslint --fix

fix: clipboard error handling, isIC prop, timeout cleanup, CLAUDE.md accuracy
  src/CLAUDE.md
  src/components/OpportunitiesCard.tsx
  src/components/SmartGoalsPrompt.tsx
Due: prettier --write, tsc-files --noEmit, eslint --fix

feat(e2e): add Playwright e2e tests against Vercel preview deployments
  .github/CLAUDE.md
  .github/workflows/ci.yml
  .gitignore
  docs/adr/008-playwright-e2e.md
  e2e/CLAUDE.md
  e2e/fixtures/ratings.ts
  e2e/level-navigation.spec.ts
  e2e/opportunities-card.spec.ts
  e2e/pages/AppPage.ts
  e2e/reset.spec.ts
  e2e/url-rating-encoding.spec.ts
  package.json
  playwright.config.ts
  yarn.lock
Due: prettier --write, tsc-files --noEmit, eslint --fix

fix(e2e): address PR review findings
  .github/CLAUDE.md
  docs/adr/008-playwright-e2e.md
  e2e/fixtures/ratings.ts
  e2e/opportunities-card.spec.ts
  e2e/url-rating-encoding.spec.ts
  playwright.config.ts
Due: prettier --write, tsc-files --noEmit, eslint --fix

fix(e2e): explicitly configure HTML reporter so playwright-report/ is always created
  playwright.config.ts
Due: prettier --write, tsc-files --noEmit, eslint --fix

feat(test): add Vitest unit testing framework and CI job
  .github/CLAUDE.md
  .github/workflows/ci.yml
  docs/adr/009-unit-testing-framework.md
  package.json
  src/CLAUDE.md
  src/components/LoadingSpinner.test.tsx
  src/components/PageLayout.test.tsx
  src/components/PropertyList.test.tsx
  src/components/ResetButton.test.tsx
  src/components/SmartGoalsPrompt.test.tsx
  src/hooks/RatingsProvider.test.tsx
  src/hooks/useCareerParam.test.tsx
  src/hooks/useRatingParam.test.tsx
  src/lib/attributeId.test.ts
  src/lib/chartGeometry.test.ts
  src/lib/ratingsEncoding.test.ts
  src/lib/siteConfig.test.ts
  vitest.config.ts
  vitest.setup.ts
  yarn.lock
Due: prettier --write, tsc-files --noEmit, eslint --fix

chore: add unit test run to lefthook pre-commit
  lefthook.yml
Due: none

fix(test): address PR review findings
  docs/adr/009-unit-testing-framework.md
  src/CLAUDE.md
  src/components/SmartGoalsPrompt.test.tsx
  src/hooks/RatingsProvider.test.tsx
  src/lib/chartGeometry.test.ts
  src/lib/ratingsEncoding.test.ts
Due: prettier --write, tsc-files --noEmit, eslint --fix

test: address edge cases and fix assertions from PR review
  src/hooks/RatingsProvider.test.tsx
  src/hooks/useRatingParam.test.tsx
  src/lib/chartGeometry.test.ts
  src/lib/ratingsEncoding.test.ts
  src/lib/siteConfig.test.ts
Due: prettier --write, tsc-files --noEmit, eslint --fix

docs(src): require e2e issue when dropping unit test coverage
  src/CLAUDE.md
Due: prettier --write

test: add coverage thresholds and enforce in CI
  .github/workflows/ci.yml
  vitest.config.ts
Due: prettier --write, tsc-files --noEmit, eslint --fix
