Repository brianespinosa/career: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tsc-files --noEmit, eslint --fix

setup DX
  package.json
  yarn.lock
Due: none

chore: swap out husky for sph
  .husky/pre-commit
  package.json
  yarn.lock
Due: none

initial POC
  data/attributes.json
  data/em.csv
  data/em.json
  data/ic.csv
  data/ic.json
  package.json
  src/app/global.scss
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.module.css
  src/app/page.tsx
  src/components/AltChart.tsx
  src/components/CareerAttribute.tsx
  src/components/CareerChart.tsx
  src/components/CareerSelect.tsx
  src/components/CareerThemes.tsx
  src/components/PropertyList.tsx
  src/components/RatingSelect.tsx
  src/hooks/.gitkeep
  src/hooks/useCareerParam.ts
  src/hooks/useRatingParam.ts
  src/types/attributes.ts
  src/types/levels.ts
  tsconfig.json
  yarn.lock
Due: stylelint --fix, prettier --write, tsc-files --noEmit, eslint --fix

fix: suspense boundary for layout
  src/app/layout.tsx
  src/app/loading.tsx
Due: prettier --write, tsc-files --noEmit, eslint --fix

feat: separate into sections
  data/themes.json
  package.json
  src/app/layout.tsx
  src/components/AltChart.tsx
  src/components/CareerAttribute.tsx
  src/components/CareerThemes.tsx
  src/components/PropertyList.tsx
  src/components/RatingSelect.tsx
  src/types/attributes.ts
  yarn.lock
Due: prettier --write, tsc-files --noEmit, eslint --fix

feat: animate chart slices
  package.json
  src/app/layout.tsx
  src/components/AltChart.tsx
  src/components/CareerThemes.tsx
  yarn.lock
Due: prettier --write, tsc-files --noEmit, eslint --fix

docs: add CLAUDE.md from template, remove Shippo artifacts
  CLAUDE.md
Due: prettier --write

chore: upgrade node, yarn, next, react, ramda
  .nvmrc
  .yarn/releases/yarn-4.12.0.cjs
  .yarn/releases/yarn-4.7.0.cjs
  .yarnrc.yml
  package.json
  tsconfig.json
  yarn.lock
Due: none

chore(deps): update dependencies to latest stable versions
  package.json
  yarn.lock
Due: none

chore(deps): upgrade @visx/visx to 4.0.1-alpha.0
  docs/adr/001-visx-alpha-channel.md
  package.json
  yarn.lock
Due: prettier --write

chore: replace eslint/prettier/stylelint with Biome, fix peer deps
  .lintstagedrc.json
  .yarn/releases/yarn-4.12.0.cjs
  .yarnrc.yml
  biome.json
  eslint.config.mjs
  package.json
  src/app/layout.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/components/AltChart.tsx
  src/components/CareerAttribute.tsx
  src/components/CareerChart.tsx
  src/components/CareerSelect.tsx
  src/components/CareerThemes.tsx
  src/components/RatingSelect.tsx
  src/hooks/useCareerParam.ts
  src/types/attributes.ts
  src/types/levels.ts
  stylelint.config.js
  tsconfig.json
  yarn.lock
Due: prettier --write, tsc-files --noEmit, eslint --fix

ci: add lefthook precommit hooks, GitHub Actions CI, and Claude settings
  .claude/CLAUDE.md
  .claude/settings.json
  .github/CLAUDE.md
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .gitignore
  docs/adr/002-github-actions-yarn-cache.md
  lefthook.yml
  package.json
  yarn.lock
Due: prettier --write

chore: add typecheck script and reference it in lefthook and CI
  .github/workflows/ci.yml
  lefthook.yml
  package.json
Due: none

ci: add typecheck, concurrency, and vercel deploy
  .github/CLAUDE.md
  .github/workflows/ci.yml
  .gitignore
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

ci: add vercel pull, preview deployments on PRs with URL comment
  .github/workflows/ci.yml
Due: none

ci: pass --token flag explicitly to vercel commands
  .github/workflows/ci.yml
Due: none

ci: match build and deploy targets for prod vs preview
  .github/workflows/ci.yml
Due: none

ci: inline conditional --prod flag on vercel build step
  .github/workflows/ci.yml
Due: none

ci: register GitHub deployment with preview URL
  .github/workflows/ci.yml
Due: none

ci: fix required_contexts array via --input instead of -F
  .github/workflows/ci.yml
Due: none

ci: use job environment for native GitHub deployment tracking
  .github/workflows/ci.yml
Due: none

ci: remove PR comment now that deployment button handles preview URL
  .github/workflows/ci.yml
Due: none

chore: add Dependabot with weekly npm updates and auto-merge
  .github/CLAUDE.md
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
Due: prettier --write

chore: remove dead CareerChart component and stale .gitkeep files
  src/CLAUDE.md
  src/components/.gitkeep
  src/components/CareerChart.tsx
  src/hooks/.gitkeep
Due: prettier --write, tsc-files --noEmit, eslint --fix

docs: add src and data CLAUDE.md files, fix .github CLAUDE.md deploy description
  .github/CLAUDE.md
  data/CLAUDE.md
  src/CLAUDE.md
Due: prettier --write

refactor: clean up code issues from review
  package.json
  src/app/not-found.tsx
  src/components/AltChart.tsx
  src/components/CareerAttribute.tsx
  src/components/CareerSelect.tsx
  src/components/CareerThemes.tsx
  src/components/RatingSelect.tsx
  src/hooks/useCareerParam.ts
  src/hooks/useRatingParam.ts
  src/lib/levels.ts
  yarn.lock
Due: prettier --write, tsc-files --noEmit, eslint --fix

chore: remove .vscode submodule
  .gitmodules
Due: none

chore: remove .vscode submodule (#9)
  .gitmodules
Due: none

feat(opportunities): add Opportunities section and scroll-to-attribute behavior
  src/CLAUDE.md
  src/components/AltChart.tsx
  src/components/CareerAttribute.tsx
  src/components/CareerThemes.tsx
  src/components/OpportunitiesCard.tsx
  src/hooks/useRatingParam.ts
  src/lib/attributeId.ts
Due: prettier --write, tsc-files --noEmit, eslint --fix

feat(opportunities): add animations, dynamic opacity, and layout polish
  src/components/AltChart.tsx
  src/components/CareerThemes.tsx
  src/components/OpportunitiesCard.tsx
  src/lib/animations.ts
Due: prettier --write, tsc-files --noEmit, eslint --fix

feat: click chart arc to scroll to attribute
  src/components/AltChart.tsx
  src/components/CareerAttribute.tsx
  src/lib/attributeId.ts
Due: prettier --write, tsc-files --noEmit, eslint --fix

feat: animated arc numbers with hover/tap styles and text selection
  src/components/AltChart.tsx
  src/components/CareerAttribute.tsx
  src/lib/attributeId.ts
Due: prettier --write, tsc-files --noEmit, eslint --fix

docs: add worktree requirements and src styling/accessibility guidelines
  CLAUDE.md
  src/CLAUDE.md
Due: prettier --write

docs: add worktree requirements and src styling/accessibility guidelines (#16)
  CLAUDE.md
  src/CLAUDE.md
Due: prettier --write

ci: add Next.js build cache to speed up CI builds
  .github/workflows/ci.yml
Due: none

feat: migrate state to path segments, add OG image
  docs/adr/003-satori-og-image-constraints.md
  package.json
  src/CLAUDE.md
  src/app/[level]/[[...ratings]]/CLAUDE.md
  src/app/[level]/[[...ratings]]/opengraph-image.tsx
  src/app/[level]/[[...ratings]]/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/components/AltChart.tsx
  src/components/OpportunitiesCard.tsx
  src/components/ResetButton.tsx
  src/hooks/useCareerParam.ts
  src/hooks/useRatingParam.ts
  src/hooks/useRatingsMap.ts
  src/lib/ratingPath.ts
  yarn.lock
Due: prettier --write, tsc-files --noEmit, eslint --fix

fix: move OG image to Route Handler, add generateMetadata
  src/CLAUDE.md
  src/app/[level]/[[...ratings]]/CLAUDE.md
  src/app/[level]/[[...ratings]]/page.tsx
  src/app/api/og/[level]/[[...ratings]]/route.tsx
Due: prettier --write, tsc-files --noEmit, eslint --fix

fix: use RatingsProvider context to restore animation continuity
  src/app/[level]/[[...ratings]]/page.tsx
  src/components/AltChart.tsx
  src/components/OpportunitiesCard.tsx
  src/hooks/RatingsProvider.tsx
  src/hooks/useRatingParam.ts
  src/hooks/useRatingsMap.ts
Due: prettier --write, tsc-files --noEmit, eslint --fix

feat: replace nuqs with path-based URL state
  .yarnrc.yml
  package.json
  src/CLAUDE.md
  src/app/[level]/CLAUDE.md
  src/app/[level]/[encoded]/page.tsx
  src/app/[level]/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/components/AltChart.tsx
  src/components/CareerSelect.tsx
  src/components/OpportunitiesCard.tsx
  src/components/RatingSelect.tsx
  src/components/ResetButton.tsx
  src/hooks/RatingsProvider.tsx
  src/hooks/useCareerParam.ts
  src/hooks/useRatingParam.ts
  src/lib/ratingsEncoding.ts
  yarn.lock
Due: prettier --write, tsc-files --noEmit, eslint --fix

fix: hide header controls on 404 routes
  src/app/layout.tsx
  src/components/HeaderControls.tsx
  src/hooks/useCareerParam.ts
Due: prettier --write, tsc-files --noEmit, eslint --fix

Path conditions:
  stylelint --fix: any of: *.{css,scss,sass,less}
  prettier --write: ((any of: *.{css,scss,sass,less}) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.{md,mdx,html})
  tsc-files --noEmit: any of: *.{js,jsx,ts,tsx}
  eslint --fix: any of: *.{js,jsx,ts,tsx}
