Repository brianespinosa/career: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tsc-files --noEmit, eslint --fix

.lintstagedrc.json:

{
  "*.{css,scss,sass,less}": ["stylelint --fix", "prettier --write"],
  "*.{js,jsx,ts,tsx}": [
    "tsc-files --noEmit",
    "eslint --fix",
    "prettier --write"
  ],
  "*.{md,mdx,html}": ["prettier --write"]
}

chore(deps): remove 13 stale dependency pin(s)
  package.json
  yarn.lock
Due: none

fix(ci): read @playwright/test version for browser cache key
  .github/workflows/ci.yml
Due: none

fix(ci): read @playwright/test version for Playwright cache key (#414)
  .github/workflows/ci.yml
Due: none

fix(deps): resolve Dependabot security alerts
  package.json
  yarn.lock
Due: none

fix(deps): resolve Dependabot security alerts (#415)
  package.json
  yarn.lock
Due: none

docs: strip boilerplate from root CLAUDE.md
  .claude/CLAUDE.md
  CLAUDE.md
Due: prettier --write

chore: migrate from Yarn Berry to pnpm
  .claude/settings.json
  .github/CLAUDE.md
  .github/CODEOWNERS
  .github/actions/setup/action.yml
  .github/dependabot.yml
  .github/workflows/ci.yml
  .gitignore
  .yarn/releases/yarn-4.13.0.cjs
  .yarnrc.yml
  CLAUDE.md
  data/CLAUDE.md
  docs/adr/001-visx-alpha-channel.md
  docs/adr/002-github-actions-yarn-cache.md
  docs/adr/006-csv-source-of-truth.md
  docs/adr/008-playwright-e2e.md
  docs/adr/010-knip-unused-detection.md
  docs/adr/012-customer-support-json-native-tracks.md
  docs/adr/013-pnpm-migration.md
  knip.config.ts
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Due: prettier --write, tsc-files --noEmit, eslint --fix

fix: pin @types/d3-shape to resolve pnpm hoist ambiguity
  docs/adr/004-server-safe-chart-geometry.md
  docs/adr/013-pnpm-migration.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: scope minimatch override to the 10.x line
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: migrate from Yarn Berry to pnpm (#430)
  .claude/settings.json
  .github/CLAUDE.md
  .github/CODEOWNERS
  .github/actions/setup/action.yml
  .github/dependabot.yml
  .github/workflows/ci.yml
  .gitignore
  .yarn/releases/yarn-4.13.0.cjs
  .yarnrc.yml
  CLAUDE.md
  data/CLAUDE.md
  docs/adr/001-visx-alpha-channel.md
  docs/adr/002-github-actions-yarn-cache.md
  docs/adr/004-server-safe-chart-geometry.md
  docs/adr/006-csv-source-of-truth.md
  docs/adr/008-playwright-e2e.md
  docs/adr/010-knip-unused-detection.md
  docs/adr/012-customer-support-json-native-tracks.md
  docs/adr/013-pnpm-migration.md
  knip.config.ts
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Due: prettier --write, tsc-files --noEmit, eslint --fix

chore: remove GitHub MCP in favor of gh CLI
  .claude/CLAUDE.md
  .claude/settings.json
  .mcp.json
Due: prettier --write

chore: drop dead enableAllProjectMcpServers flag
  .claude/settings.json
Due: none

chore: remove GitHub MCP in favor of gh CLI (#435)
  .claude/CLAUDE.md
  .claude/settings.json
  .mcp.json
Due: prettier --write

chore: enable typescript-lsp plugin
  .claude/settings.json
Due: none

docs: strip boilerplate from root CLAUDE.md (#428)
  .claude/CLAUDE.md
  CLAUDE.md
Due: prettier --write
