Repository brianespinosa/career: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tsc-files --noEmit, eslint --fix

chore(deps): remove redundant @vercel/analytics packageExtension
  .yarnrc.yml
  CLAUDE.md
Due: prettier --write

feat(github): add repository settings.yml for settings-as-code
  .github/CLAUDE.md
  .github/settings.yml
Due: prettier --write

fix(github): use _extends for settings.yml per issue #103
  .github/CLAUDE.md
  .github/settings.yml
Due: prettier --write

feat(github): add repository settings via probot/settings
  .github/CLAUDE.md
  .github/settings.yml
Due: prettier --write

chore: add GitHub remote MCP configuration
  .mcp.json
Due: none

docs(.claude): document mcp.json and GitHub MCP configuration
  .claude/CLAUDE.md
Due: prettier --write

chore: add probot/settings configuration
  .github/settings.yml
Due: none

ci(hooks): add SessionStart hook for corepack and yarn install
  .claude/hooks/session-start.sh
  .claude/settings.json
  lefthook.yml
Due: none

chore: commit yarn binary and set yarnPath
  .gitignore
  .yarn/releases/yarn-4.13.0.cjs
  .yarnrc.yml
Due: none

chore: commit yarn binary and set yarnPath (#110)
  .gitignore
  .yarn/releases/yarn-4.13.0.cjs
  .yarnrc.yml
Due: none

chore: add GitHub MCP server settings
  .claude/settings.json
  lefthook.yml
Due: none

chore: add GitHub MCP server settings (#111)
  .claude/settings.json
  lefthook.yml
Due: none

ci: add top-level permissions block to CI workflow
  .github/CLAUDE.md
  .github/workflows/ci.yml
Due: prettier --write

ci: add top-level permissions block to CI workflow (#140)
  .github/CLAUDE.md
  .github/workflows/ci.yml
Due: prettier --write

chore: align tooling configs with cross-repo standards
  biome.json
  knip.config.ts
  vitest.config.ts
Due: prettier --write, tsc-files --noEmit, eslint --fix

chore: align tooling configs with cross-repo standards (#141)
  biome.json
  knip.config.ts
  vitest.config.ts
Due: prettier --write, tsc-files --noEmit, eslint --fix

chore: add .claude/worktrees/ to .gitignore
  .gitignore
Due: none

chore: add .claude/worktrees/ to .gitignore (#142)
  .gitignore
Due: none

fix(deps): pin @vercel/fun/tar to >=7.5.11 to resolve CVE
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

fix(deps): pin @vercel/fun/tar to >=7.5.11 to resolve CVE (#145)
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

fix: pin minimatch via scoped resolutions to address ReDoS CVE
  package.json
  yarn.lock
Due: none

fix: pin minimatch via scoped resolutions to address ReDoS CVE (#146)
  package.json
  yarn.lock
Due: none

chore: remove duplicate yarn entries from .gitignore
  .gitignore
Due: none

chore: remove duplicate yarn entries from .gitignore (#147)
  .gitignore
Due: none

fix: add scoped resolutions for undici, srvx, and @tootallnate/once CVEs
  package.json
  yarn.lock
Due: none

fix: add scoped resolutions for undici, srvx, and @tootallnate/once CVEs (#148)
  package.json
  yarn.lock
Due: none

fix(deps): bump react-dom to 19.2.5, group react packages in dependabot
  .github/dependabot.yml
  package.json
  yarn.lock
Due: none

Add CODEOWNERS file with default owner
  .github/CODEOWNERS
Due: none

Add CODEOWNERS file with default owner (#217)
  .github/CODEOWNERS
Due: none

feat(ml) DTSC-8174: Added ML career ladder
  data/attributes.json
  data/em-ml.csv
  data/em-ml.json
  data/ic-ml.csv
  data/ic-ml.json
  package.json
  src/components/CareerSelect.test.tsx
  src/components/CareerSelect.tsx
  src/lib/levels.ts
  src/types/levels.ts
Due: prettier --write, tsc-files --noEmit, eslint --fix

feat(ml) DTSC-8174: Added ML career ladder (#218)
  data/attributes.json
  data/em-ml.csv
  data/em-ml.json
  data/ic-ml.csv
  data/ic-ml.json
  package.json
  src/components/CareerSelect.test.tsx
  src/components/CareerSelect.tsx
  src/lib/levels.ts
  src/types/levels.ts
Due: prettier --write, tsc-files --noEmit, eslint --fix

minor updates to the JSON files.
  data/em-ml.json
  data/ic-ml.json
Due: none

Feat/dtsc 8147 add ml career ladder (#219)
  data/em-ml.json
  data/ic-ml.json
Due: none

fix(types): drop export from internal level types
  src/types/levels.ts
Due: prettier --write, tsc-files --noEmit, eslint --fix

fix(biome): align schema version and apply 2.4.15 organize-imports
  biome.json
  src/types/images.d.ts
Due: prettier --write, tsc-files --noEmit, eslint --fix

ci(dependabot): approve PR before enabling auto-merge
  .github/CLAUDE.md
  .github/workflows/dependabot-auto-merge.yml
Due: prettier --write

ci(dependabot): approve PR before enabling auto-merge (#224)
  .github/CLAUDE.md
  .github/workflows/dependabot-auto-merge.yml
Due: prettier --write

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Update CODEOWNERS (#225)
  .github/CODEOWNERS
Due: none

Path conditions:
  stylelint --fix: any of: *.{css,scss,sass,less}
  prettier --write: ((any of: *.{css,scss,sass,less}) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.{md,mdx,html})
  tsc-files --noEmit: any of: *.{js,jsx,ts,tsx}
  eslint --fix: any of: *.{js,jsx,ts,tsx}
