Repository brianespinosa/career: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tsc-files --noEmit, eslint --fix

test: fail on unexpected console.warn/error in unit tests
  vitest.setup.ts
Due: prettier --write, tsc-files --noEmit, eslint --fix

chore(deps): update dependabot to daily schedule with auto-rebase and add github-actions ecosystem
  .github/dependabot.yml
Due: none

ci(e2e): cache Playwright browsers keyed on Playwright version
  .github/workflows/ci.yml
Due: none

ci(e2e): use jq to extract Playwright version for cache key
  .github/workflows/ci.yml
Due: none

feat(ci): add knip for unused dep/file/export detection
  .github/CLAUDE.md
  .github/workflows/ci.yml
  package.json
  src/lib/chartGeometry.ts
  yarn.lock
Due: prettier --write, tsc-files --noEmit, eslint --fix

docs(adr): add ADR-010 for knip unused detection
  .github/CLAUDE.md
  docs/adr/010-knip-unused-detection.md
Due: prettier --write

fix(ci): set PLAYWRIGHT_BASE_URL for knip job
  .github/workflows/ci.yml
Due: none

fix(ci): use production URL for PLAYWRIGHT_BASE_URL in knip job
  .github/workflows/ci.yml
Due: none

fix(ci): revert PLAYWRIGHT_BASE_URL to example.com in knip job
  .github/workflows/ci.yml
Due: none

chore(lefthook): sort package.json on pre-commit
  lefthook.yml
Due: none

fix(knip): ignore sort-package-json npx binary
  package.json
Due: none

refactor(knip): move config to knip.config.ts with inline comments
  knip.config.ts
  package.json
Due: prettier --write, tsc-files --noEmit, eslint --fix

fix(home): address PR review findings
  next.config.ts
  src/CLAUDE.md
  src/app/page.tsx
Due: prettier --write, tsc-files --noEmit, eslint --fix

feat(home): add instructional guidance and stateless URL info
  src/CLAUDE.md
  src/app/layout.tsx
  src/app/page.tsx
  src/components/CareerSelect.tsx
  src/components/OpportunitiesCard.tsx
  src/components/SmartGoalsPrompt.tsx
Due: prettier --write, tsc-files --noEmit, eslint --fix

fix(home): remove Callout.Text asChild, not supported by Radix
  src/app/page.tsx
Due: prettier --write, tsc-files --noEmit, eslint --fix

fix(biome): remove unused LEVELS import, exclude .claude from scan, update schema
  biome.json
  src/app/page.tsx
  src/components/CareerSelect.tsx
Due: prettier --write, tsc-files --noEmit, eslint --fix

docs(claude): never commit with --no-verify
  CLAUDE.md
Due: prettier --write

fix(opportunities): replace Text as prop with asChild pattern
  src/components/OpportunitiesCard.tsx
Due: prettier --write, tsc-files --noEmit, eslint --fix

fix(home): use relative path for OG image, remove remotePatterns
  next.config.ts
  src/app/page.tsx
Due: prettier --write, tsc-files --noEmit, eslint --fix

feat(branding): custom accent color, SinkinSans font, and OG image overhaul
  data/themes.json
  src/app/[level]/[encoded]/opengraph-image.tsx
  src/app/[level]/[encoded]/page.tsx
  src/app/[level]/opengraph-image.tsx
  src/app/global.scss
  src/app/layout.tsx
  src/app/opengraph-image.tsx
  src/app/page.tsx
  src/components/CareerSelect.tsx
  src/fonts/SinkinSans-700Bold-webfont.woff
  src/fonts/SinkinSans-800Black-webfont.woff
  src/lib/chartGeometry.ts
  src/lib/ogChart.tsx
  src/lib/ogFonts.ts
Due: stylelint --fix, prettier --write, tsc-files --noEmit, eslint --fix

fix(og): load Inter from local OTF, remove unused fonts, clean up SVG a11y
  src/app/[level]/[encoded]/opengraph-image.tsx
  src/app/[level]/opengraph-image.tsx
  src/app/layout.tsx
  src/app/opengraph-image.tsx
  src/fonts/Inter-Regular.otf
  src/fonts/SinkinSans-700Bold-webfont.woff
  src/lib/ogChart.tsx
  src/lib/ogFonts.ts
Due: prettier --write, tsc-files --noEmit, eslint --fix

feat(home): add link unfurl screenshot; remove dead Twitter meta fields
  src/app/[level]/[encoded]/page.tsx
  src/app/page.tsx
  src/img/link-unfurl.png
Due: prettier --write, tsc-files --noEmit, eslint --fix

refactor(ui): standardize button and callout variants
  src/app/layout.tsx
  src/app/page.tsx
  src/components/OpportunitiesCard.tsx
  src/components/ResetButton.tsx
  src/components/SmartGoalsPrompt.tsx
Due: prettier --write, tsc-files --noEmit, eslint --fix

fix(types): declare PNG module type for TypeScript CI
  src/types/images.d.ts
Due: prettier --write, tsc-files --noEmit, eslint --fix

feat(telemetry): add Vercel Analytics and Speed Insights
  package.json
  src/app/layout.tsx
  yarn.lock
Due: prettier --write, tsc-files --noEmit, eslint --fix

chore(deps): add packageExtension for @vercel/analytics nuxt optional peer
  .yarnrc.yml
Due: none

refactor(components): add AppCallout and AppCard wrapper components
  src/app/page.tsx
  src/components/AppCallout.tsx
  src/components/AppCard.tsx
  src/components/CareerThemes.tsx
  src/components/CareerThemesLoading.tsx
  src/components/OpportunitiesCard.tsx
  src/components/SmartGoalsPrompt.tsx
Due: prettier --write, tsc-files --noEmit, eslint --fix

feat(AppCallout): reduce default padding to size 1
  src/components/AppCallout.tsx
Due: prettier --write, tsc-files --noEmit, eslint --fix

docs(readme): add app overview, usage, rating scale, and CI badge
  README.md
Due: prettier --write

docs(readme): add link unfurl screenshot to saving assessments section
  README.md
Due: prettier --write

docs(readme): use repo name as h1
  README.md
Due: prettier --write

refactor(AppCard): add 'as' prop with section default; use in OpportunitiesCard
  src/components/AppCard.tsx
  src/components/OpportunitiesCard.tsx
Due: prettier --write, tsc-files --noEmit, eslint --fix

test: add unit tests for ogFonts, ogChart, CareerSelect, RatingSelect, CareerAttribute, OpportunitiesCard; raise coverage thresholds
  src/components/CareerAttribute.test.tsx
  src/components/CareerSelect.test.tsx
  src/components/OpportunitiesCard.test.tsx
  src/components/RatingSelect.test.tsx
  src/lib/ogChart.test.tsx
  src/lib/ogFonts.test.ts
  vitest.config.ts
Due: prettier --write, tsc-files --noEmit, eslint --fix

test: address PR review feedback on unit test quality
  src/components/CareerSelect.test.tsx
  src/components/OpportunitiesCard.test.tsx
  src/components/OpportunitiesCard.tsx
  src/components/RatingSelect.test.tsx
  src/lib/ogChart.test.tsx
Due: prettier --write, tsc-files --noEmit, eslint --fix

test(e2e): add e2e coverage for untested functional paths (issue #77)
  .github/CLAUDE.md
  docs/adr/011-axe-playwright-accessibility.md
  e2e/CLAUDE.md
  e2e/home.spec.ts
  e2e/og-image.spec.ts
  e2e/opportunities-card.spec.ts
  e2e/pages/AppPage.ts
  e2e/ratings-chart.spec.ts
  e2e/smart-goals.spec.ts
  package.json
  yarn.lock
Due: prettier --write, tsc-files --noEmit, eslint --fix

test(e2e): address pr review feedback
  e2e/home.spec.ts
  e2e/opportunities-card.spec.ts
  e2e/ratings-chart.spec.ts
  e2e/smart-goals.spec.ts
Due: prettier --write, tsc-files --noEmit, eslint --fix

chore(deps): mark playwright-core peer dep optional for @axe-core/playwright
  .yarnrc.yml
Due: none

feat(analytics): add event tracking for interactive elements
  src/app/layout.tsx
  src/components/HeaderControls.tsx
  src/components/OpportunitiesCard.tsx
  src/components/RatingsChart.tsx
  src/components/ResetButton.tsx
  src/components/SmartGoalsPrompt.tsx
Due: prettier --write, tsc-files --noEmit, eslint --fix

fix(analytics): address PR review findings
  src/components/HeaderControls.tsx
  src/components/OpportunitiesCard.tsx
  src/components/RatingsChart.tsx
  src/components/ResetButton.test.tsx
  src/components/ResetButton.tsx
  src/components/SmartGoalsPrompt.test.tsx
  src/components/SmartGoalsPrompt.tsx
  src/lib/track.ts
Due: prettier --write, tsc-files --noEmit, eslint --fix

chore(test): enable coverage via vitest config instead of CLI flag
  .github/workflows/ci.yml
  vitest.config.ts
Due: prettier --write, tsc-files --noEmit, eslint --fix

Path conditions:
  stylelint --fix: any of: *.{css,scss,sass,less}
  prettier --write: ((any of: *.{css,scss,sass,less}) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.{md,mdx,html})
  tsc-files --noEmit: any of: *.{js,jsx,ts,tsx}
  eslint --fix: any of: *.{js,jsx,ts,tsx}
